<!-- Edit Task Modal Template -->
<div class='modal-header'>
	<h3 class='modal-title'>Login</h3>
</div>
<div class='modal-body container-fluid' >
	<input class="col-xs-12" id="host" type="text" placeholder="Host  (something.reappt.io)" ng-model="options.host" />
	<div class="col-xs-12"> </div>
	<input class="col-xs-12" id="principal" type="text" placeholder="Principal" ng-model="options.principal" />
	<input class="col-xs-12" id="credentials" type="password" placeholder="Credentials" ng-model="options.credentials" />
</div>
<div class='modal-footer'>
	<button class='btn btn-primary' ng-click='ok()'>Login</button>
</div>